.about {
  background-image: url(../../images/backgrounds/about.jpg);
  background-size: cover;
  display: flex;

  > .col {
    padding: 150px 0 150px 0;
  }

  .col > .row:not(:last-child) {
    margin-bottom: 40px;
  }

  .row {
    justify-content: center;
    align-items: center;

    .col-sm-2 {
      text-align: center;
    }

    h2 {
      color: #fff;
      font-size: 40px;
      font-weight: 700;
      text-transform: uppercase;
    }

    p {
      color: #fff;
      font-size: 18px;
      text-align: center;
    }

    a,
    a:not([href]) {
      color: #fff;
      cursor: pointer;
      text-decoration: underline;
    }

    img {
      max-width: 100%;
    }

    svg {
      fill: #fff;
      max-width: 30%;
      min-width: 30%;
    }
  }
}
