.navbar-brand {
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navbar-nav .nav-link {
  color: #fff !important;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-item {
  margin-left: 10px;
  text-align: center;

  a {
    font-size: 14px;
  }

  a:hover {
    color: #e75926 !important;
  }
}
