.navbar-brand {
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.navbar-brand:hover {
  color: #e75926 !important;
}

.navbar-nav {
  .nav-item {
    letter-spacing: 1px;
    margin-left: 20px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;

    a {
      color: #fff !important;
      display: inline;
      font-size: 14px;
    }

    a:hover {
      color: #e75926 !important;
    }
  }
}
